<?xml version="1.0"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IpAddressClient>192.168.0.101</IpAddressClient>
  <IPAddressServer>192.168.0.101</IPAddressServer>
  <PortClient>1234</PortClient>
  <PortServer>1234</PortServer>
  <SoundInputDeviceNameClient />
  <SoundOutputDeviceNameClient>None</SoundOutputDeviceNameClient>
  <SoundInputDeviceNameServer />
  <SoundOutputDeviceNameServer>Speakers (Realtek High Definiti</SoundOutputDeviceNameServer>
  <SamplesPerSecondClient>5000</SamplesPerSecondClient>
  <BitsPerSampleClient>16</BitsPerSampleClient>
  <ChannelsClient>1</ChannelsClient>
  <SamplesPerSecondServer>5000</SamplesPerSecondServer>
  <BitsPerSampleServer>16</BitsPerSampleServer>
  <ChannelsServer>1</ChannelsServer>
  <UseJitterBufferClientRecording>true</UseJitterBufferClientRecording>
  <UseJitterBufferServerRecording>true</UseJitterBufferServerRecording>
  <JitterBufferCountServer>20</JitterBufferCountServer>
  <JitterBufferCountClient>20</JitterBufferCountClient>
  <FileName />
  <LoopFile>false</LoopFile>
  <MuteClientPlaying>false</MuteClientPlaying>
  <ServerNoSpeakAll>false</ServerNoSpeakAll>
  <ClientNoSpeakAll>false</ClientNoSpeakAll>
  <MuteServerListen>false</MuteServerListen>
</Configuration>